@import url('https://fonts.googleapis.com/css2?family=Exile&display=swap');
.container{
    margin: auto;
}
.effect{
    text-align: center;
}
h1 {
  text-shadow: 2px 2px white;
  font-family: "Exile", system-ui, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 50px ;
  word-spacing: 10px ;
 
}

h3{
    text-shadow: 2px 2px white;
}
body{
    text-align: center;
    
    background: radial-gradient(pink,purple);
}
button{
    border-radius: 40px;
    background-color: bisque;
}
button:hover{
    background-color: burlywood
}
video{
    border-radius: 40px;
}